body {
	margin: 0;
	padding:0;
	
	background-color: #E1E3E4;
	cusror:;

}
h1 {
	font-family: 'Alegreya';
	font-weight: bold;
	font-size: 1.4em;
}
#log {
	height:60px;
	width:100%;
	background-color:#F4F4F4;
	margin:0 auto;
}
#left_control {
	width:20%;
	height:1000px;
	float: left;
}
#board_wrapper {
	width:60%;
	float: left;

}
#right_control {
	width: auto;
	float:left;
	
}
#cursor {
	position:absolute;
	top:0;
	display: none;
	left:0;
	background-color: red;
	border-radius: 4px;
	width:20px;
	height:20px;
}
#draw {
	cursor: none;
}
#ball_data {
	overflow: scroll;
	height:100px;
	font-size: 10px;
	line-height: 10px;

}